In [1]:
import pandas as pd

In [2]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [3]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
list('321')

['3', '2', '1']

In [6]:
df= pd.DataFrame(data, list('321'), list('ZYX'))

In [7]:
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [8]:
df.sort_index(inplace=True)

In [9]:
df.sort_index(axis =1, inplace=True)

In [10]:
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [15]:
df.sort_values(by=['X', 'Y'], inplace=True)

In [16]:
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [17]:
df.sort_values(by='3', axis= 1, inplace=True)

In [18]:
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

## Exerc√≠cios

In [8]:
data = [[1,2,3],[4,5,6],[7,8,9]]
list('CBA')
list('ZYX')
df = pd.DataFrame(data, list('zyx'), list('cba'))
df

   c  b  a
z  1  2  3
y  4  5  6
x  7  8  9

In [9]:
df.sort_index()
df.sort_index(axis = 1)
df

   c  b  a
z  1  2  3
y  4  5  6
x  7  8  9